<app-header></app-header>
<section *ngIf="!!productsWithLocationList.length">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-striped">
                <tr>
                    <th>Product Name</th>
                    <th>Location</th>
                </tr>
                <tr *ngFor="let productWithLocationList of productsWithLocationList">
                    <td>{{productWithLocationList.productName}}</td>
                    <td>
                        <div *ngFor="let location of productWithLocationList.locationList">
                            {{location}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</section>
<app-footer></app-footer>