<app-header></app-header>
<ng-container>
    <section *ngIf="!showSuccessMessage else successMessage">
        <div class="col-md-8 offset-md-2">
            <div>
                <h5>Create Box</h5>
            </div>
            <div class="row">
                <h6 class="col-2">
                    Name:
                </h6>
                <div class="col-2">
                    <input type="text" (change)="onChange($event, 'boxName')" required />
                </div>
            </div>
            <div class="row mt-2">
                <h6 class="col-2">
                    Capacity:
                </h6>
                <div class="col-2">
                    <input type="number" (change)="onChange($event, 'boxCapacity')" required />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-1">
                    <a routerLink="/"><button class="btn btn-danger">Cancel</button></a>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-success" (click)="saveBoxDetails()">Save</button>
                </div>
            </div>
        </div>
    </section>
</ng-container>
<app-footer></app-footer>